{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set New Password - LanguaTale</title>
    <!--Google Font: https://fonts.google.com/selection/embed-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet" />
    <!--Google Font: https://fonts.google.com/selection/embed-->
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
</head>
<body>
<main class="signup-container">
    <div class="signup-card">
        <h2 class="title">Enter New Password</h2>
        {% if validlink %}
        <p class="subtitle">Please enter your new password twice.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-primary">Change Password</button>
        </form>
        {% else %}
        <h3 class="title">Password reset link invalid</h3>
        <p>The password reset link was invalid. Please request a new password reset.</p>
        <p><a href="{% url 'password_reset' %}">Request new password reset</a></p>
        {% endif %}
        <p class="login-link-form">
            <a href="{% url 'login' %}" class="login-link-button">Back to Login</a>
        </p>
    </div>
</main>
</body>
</html>